.dateblock-small {
   .ui-datepicker-calendar {
      background: #ffffff;
   }
   #ui-datepicker-div {
      width: 290px;
      background: #ffffff;
   }
   .ui-datepicker {
      padding: 0 10px 0!important;
      .ui-datepicker-title {
         margin: 0!important;
      }
   }
   .ui-datepicker td {
      // padding: 5px 8px!important;
      cursor: pointer;
   }


   .ui-datepicker th {
      font-size: 14px!important;
   }

   .ui-widget-content .ui-state-default {
      font-size: 15px!important;
   }
   .ui-datepicker .ui-datepicker-header {
      position: relative;
      padding: 0;
      background-color: #0578af;
      margin: 0 -10px!important;
   }
   .ui-datepicker select.ui-datepicker-month {
      cursor: pointer;
      display: inline-block;
      background: #0578af url(../../../img/svg/arrow1.svg) no-repeat 143px 17px!important;
      padding-left: 12px;
      color: #ffffff;
      border: none;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      padding-bottom: 0px;
      height: 40px;
      width: auto!important;
      border-radius: 2px;
      text-transform: uppercase;
   }
   .ui-datepicker select.ui-datepicker-year {
      cursor: pointer;
      background: #0578af url(../../../img/svg/arrow1.svg) no-repeat 56px 17px!important;
      padding-left: 0!important;
      color: #ffffff;
      border: none;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      padding-bottom: 0px;
      width: 75px!important;
      height: 40px;
      border-radius: 2px;
   }
   .dropdown:hover {
      box-shadow:none!important;
   }

   .ui-datepicker .ui-datepicker-prev {
      background: url(../../../img/left.png) no-repeat center;
      cursor: pointer;
      top: 11px;
      background-size: 9px;
   }

   .ui-datepicker .ui-datepicker-next {
      background: url(../../../img/right.png) no-repeat center;
      cursor: pointer;
      top: 11px;
      background-size: 9px;
   }

   /* .dateblock .ui-widget-header .ui-icon {
       background-image: url(../../../img/ui-icons_444444_256x240.png) !important;
    }*/
}

//.dateblock-small {
//   position: absolute;
//   bottom: 99%;
//}

.dateblock {
   width: 336px;
   background: rgba(255, 255, 255, 0.8);
   padding-top: 10px;

   .dropdown {
      position: relative;
      width: auto;
      border: none;
      cursor: pointer;
      background: transparent;
      border-radius: 3px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      display: inline-block;
      text-transform: uppercase;
   }
   .ui-datepicker-calendar {
      //background: rgba(255, 255, 255, 0.8);
   }
   .ui-widget-content {
      background: transparent;
   }
   .ui-widget.ui-widget-content {
      border: none;
      width: 100%;
   }
   .ui-datepicker {
      padding: 0em 1.2em 0;
   }

   .ui-datepicker .ui-datepicker-header {
      position: relative;
      padding: 0 0;
      border: none;
      margin: 0 -4px;
      background-color: #0578af;
   }

   .ui-datepicker-title {
      background: transparent;
   }
   .ui-datepicker .ui-datepicker-title {
      text-align: center;
      margin: 0;
   }
   .ui-datepicker th {
      font-size: 16px;
      font-weight: 400;
      color: #0578af;
      padding: 8px 1px;
      border-bottom:1px solid #0578af;
   }
   .ui-datepicker td {
      //border:1px solid #677f9e;
      padding: 3px 0px;
      cursor: pointer;
   }
   .ui-widget-content .ui-state-default {
      border: none;
      font-size: 18px;
      font-weight: 400;
      color: #373e4b;
      /* position: relative; */
      top: 0px;
      /* right: -3px; */
      padding: 0;
      text-align: center;
      background: transparent;


      border: 2px solid transparent;
      border-radius: 50%;
      /* padding: 8px; */
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 auto;
      padding-top: 4px;
      padding-left: -3px;
   }
   .iu-state-hover a:hover {
      background: transparent;
   }
   .ui-state-active, .ui-widget-content .ui-state-active {
      //background: #63b7df;
      color: #63b7df;

      border: 2px solid #63b7df;
      border-radius: 50%;
      /* padding: 8px; */
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 auto;
      padding-top: 4px;
      padding-left: -3px;
      /* position: relative; */
      /* left: -2px; */
      padding-right: 1px;


   }
   .ui-datepicker-current-day {
      //outline: 2px solid rgba(255, 255, 255, 0.8);
      outline-offset: -2px;
   }
   .ui-datepicker td a {
      /*padding: 5px 4px 11px 2px;*/
   }
   .ui-state-highlight, .ui-widget-content .ui-state-highlight {
      background: transparent;
   }

   .ui-datepicker select.ui-datepicker-month {
      width: 35%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-right: 5px;

   }
   .ui-datepicker select.ui-datepicker-year {
      background: #526b8b;
      width: 35%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-left: 8px;
      padding-left: 0!important;
   }
   .ui-datepicker-year::-ms-expand {
      display: none;
   }

   .ui-datepicker-month::-ms-expand  {
      display: none;
   }

   .ui-widget-header .ui-icon {
      background-image: url(../../../img/ui-icons_444444_256x240.png) !important;
   }

   .ui-datepicker select.ui-datepicker-month {
      //width: 40%;
      //height: 21px;
      cursor: pointer;
      display: inline-block;
      background: #0578af;
      padding-left: 12px;
      color: #ffffff;
      border: none;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      padding-bottom: 0px;
      height: 40px;
      width: auto;
      border-radius: 2px;
      text-transform: uppercase;

      /*   &:after {
            content: "";
            display: inline-block;

            width: 20px;
            height: 10px;
         }*/
      option {
         background: #ffffff;
         color: #000000;
         font-size: 16px;
      }
   }

   .dropdown:hover {
      box-shadow:none;
   }

   .ui-datepicker select.ui-datepicker-year {
      //width: 40%;
      //height: 21px;
      cursor: pointer;
      background: #0578af url(../../../img/triag.png) no-repeat 50px 17px;
      padding-left: 12px;
      color: #ffffff;
      border: none;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      padding-bottom: 0px;
      width: 65px;
      height: 40px;
      border-radius: 2px;
      option {
         background: #ffffff;
         color: #000000;
         font-size: 16px;
         /* &:hover {
             background: red;
             -webkit-background-imager: red;
             -moz-background-image: red;
          }*/
      }
   }

   .ui-datepicker .ui-datepicker-prev {
      background: url(../../../img/left.png) no-repeat center;
      cursor: pointer;
      top: 8px;
      left: 4px;
      background-size: 9px;
   }

   .ui-datepicker .ui-datepicker-next {
      background: url(../../../img/right.png) no-repeat center;
      cursor: pointer;
      top: 8px;
      right: 4px;
      background-size: 9px;
   }

   .ui-widget-header .ui-icon {
      display: none!important;
   }

   /* .ui-datepicker-calendar {
       background: rgba(255, 255, 255, 0.8);
    }*/
}

.content-block.user-info {
   display: flex;
   align-items: center;
   .content-block__item {
      width: 280px;
      line-height: 1.2;
      &:first-of-type {
         width: 106px;
         margin-right: 10px;
      }
   }
}

.content-block__name {
   font-size: 20px;
   margin-bottom: 10px;
}

.content-block__position {
   font-size: 16px;
}

.content-row {
   margin-bottom: 10px;
   span {
      font-size: 16px;
      font-weight: 400;
      margin-left: 15px;
      letter-spacing: 1px;
   }
}

.content-block.user-info {
   .content-block__item {
      .avatar-back {
         position: absolute;
         z-index: 49;
         //@include transform_translateY(100%);
         width: 100%;
         height: 100%;
         opacity: 0;
         top:0;
         @include transition(300);
         border-radius: 50%;
         background: rgba(67, 95, 142, 0.73);
         span {
            position: absolute;
            top: 45%;
            right: 30%;
         }
      }
   }
   .content-block__img {
      position: relative;
      z-index: 50;
      width: 106px;
      height: 106px;
      border-radius: 50%;
      @include transition(300);
      cursor: pointer;
  /*    &:hover {
         .avatar-back {
            opacity: 1;
            //@include transform_translateY(0);
         }
      }*/
   }
}

.content-block__avatar {
   width: 106px;
   height: 106px;
   border-radius: 50%;
}

.upload-file {

}

.ui-datepicker-calendar {
   tbody {
      tr {
         &:nth-of-type(2) {
            td {
               &:nth-of-type(5) {
                  a {
                     color: red;
                     font-weight: bold;
                  }
               }
            }
         }
      }
   }
}

.file-upload {
   position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
   overflow: hidden; /* Все что выходит за пределы - скрываем */
   width: 20%; /* Задаем ширину кнопки выбора файла */
   height: 20px; /* Задаем высоту кнопки выбора файла */
   background: #6da047;
   border-radius: 3px;
   padding: 8px 4px;
   color: #fff;
   text-align: center;
}
.file-upload:hover {
   background: #7aad55;
}
.file-upload input[type="file"]{
   display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
   /* Растягиваем label на всю возможную площадь блока .file-upload */
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
}
.file-upload span {
   line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}