.page-content {
   display: table-cell;
   right: 7%;
   vertical-align: top;
   height: 100%;
   max-width: 764px;
   padding: 15px 20px 0px 15px;
   margin-left: 2%;
   position: relative;
   z-index: 1000;
   @include transition(400);
   &:after {
      @include clear();
   }
}

.page-content_closed{
   width: 54%;
}

.page-content_opened{
   width: 66%;
}

.page-content__userbar {
   position: relative;
   z-index: 1000;
   margin-bottom: 30px;
   &:after {
      @include clear();
   }
}

.page-content__btn {
   display: inline-block;
   box-sizing: border-box;
   height: 32px;
   padding: 5px 10px;
   background: transparent;
   color: #39404c;
   font-size: 14px;
   font-weight: 400;
   border: 1px solid #39404c;
   cursor: pointer;
   margin-right: 7px;
   @include transition(300);
   &:hover {
      background: #39404c;
      color: #ffffff;
   }
}

.page-content__post{
   display: inline-block;
   vertical-align: top;
   padding: 17px 10px 8px 15px;
   height: 170px;
   width: 49%;
   margin-bottom: 10px;
   background: rgba(255, 255, 255, 0.8);
   position: relative;
   border-bottom: 1px solid #cccccc;
   &:nth-of-type(2n+1) {
      margin-left: 1%;
   }
}

.page-content__post-top {

}

.page-content__post-date {
   display: inline-block;
   font-size: 20px;
   margin-left: 15px;
   font-weight: 400;
}

.page-content__post-userbar {
   float: right;
   color: #52adcc;
   font-size: 14px;
   font-weight: 400;
}

.page-content__post-link {
   display: block;
   background: #52adcc;
   color: #ffffff;
   font-size: 14px;
   font-weight: 400;
   @include transition(300);
   padding: 4px 8px 5px;
   border-radius: 4px;
   &:hover {
      text-decoration: none;
   }
}

.page-content__post-link_green {
   background: #00ad5d;
}

.page-content__post-link_grey {
   background: #aeaeae;
}

.page-content__post-bottom {
   margin-top: 15px;
   .row {
      margin-bottom: 20px;
   }
}

.page-content__post-text {
   color: #000000;
   line-height: 1.1;
   font-size: 16px;
   margin-bottom: 15px;
   font-weight: 400;
   display: block;
   &:hover {
      text-decoration: underline;
   }
}

.page-content__userbar-icon {
   width: 40px;
   height: 22px;
   background-color: #3a4c64;
   border-radius: 3px;
   float: right;
   margin-left: 10px;
}

.page-content__comment {
   position: absolute;
   z-index: 1001;
   top: -61px;
   right: 154px;
   width: 550px;
   padding: 55px 15px 10px 15px;
   box-shadow: 0 0 4px rgba(2, 2, 2, 0.2);
   background-color: #ffffff;
   .layout-content-search__block-row-item {
      width:30%!important;
      &:first-child {
         margin-right: 25px;
      }
   }
   .layout-content-search__block-row-item:after{
      top: -42px;
   }
   .search-box {
      margin-bottom: 10px;
      .chosen-container {
         width: 100%!important;
      }
      .layout-content-search__label {
         font-size: 14px;
         font-weight: 400;
      }
      input {
         border: 1px solid #dddddd;
      }
   }
   .close__icon {
      top: 12px;
   }
   .icon-closed {
      &:before {
         height: 28px;
         background: #3a4c64;
      }
      &:after {
         height: 28px;
         background: #3a4c64;
      }
   }
   .search-box.sbmt {
      text-align: center;
   }
}

.page-content__submit {
   width: 111px;
   height: 32px;
   color: #ffffff;
   background-color: #63b8e0;
   border: none;
   outline: 0;
   padding: 5px 9px;
   cursor: pointer;
   text-transform: uppercase;
   @include transition(300);
   &:hover {
      background: darken(#63b8e0,10%);
   }
}

.page-content__textarea {
   width: 100%;
   resize: none;
   border: 1px solid #dddddd;
   height: 80px;
}

.comment-hide {
   display: none;
}

.comment-show {
   display: block;
}

.page-content__people {
   color: #000000;
   text-decoration: underline;
   font-size: 14px;
   &:hover {
      text-decoration: none;
   }
}

.ui-widget-header .ui-icon {
   background-image: url(../../../img/ui-icons_444444_256x240.png)!important;
}

.pagination {
   ul {
      list-style: none;
      text-align: center;
      padding-left: 0;
      li {
         display: inline-block;
         vertical-align: top;
         border: 1px solid #000000;
         background: rgba(255, 255, 255, 0.8);
         @include transition(300);
         &:first-of-type {
            background: rgba(255, 255, 255, 0.8) url(../../../img/svg/arrow3_1.svg)no-repeat center;
            @include transition(300);
            a{
               padding: 16.5px 17px;
            }
            &:hover {
               background: #39404c url(../../../img/svg/arrow3_2.svg)no-repeat center;
            }
         }
         &:last-of-type {
            background: rgba(255, 255, 255, 0.8) url(../../../img/svg/arrow4_1.svg)no-repeat center;
            @include transition(300);
            a{
               padding: 16.5px 17px;
            }
            &:hover {
               background: #39404c url(../../../img/svg/arrow4_2.svg)no-repeat center;
            }
         }
         margin-left: 4px;
         a{
            display: block;
            padding: 5px 12px;
            @include transition(300);
            color: #000000;
            font-size: 17px;
            font-weight: 400;
         }
         &:hover {
            background: #39404c;
            a{
               color: #ffffff;
            }
         }
      }
   }
}

.slick-slider {
   width: 785px;
}

.slick-prev, .slick-next {
   z-index: 10000;
}

.content-docs {
   .page-content__post {
      height: 270px;
   }
}

.row-date {
   font-size: 14px;
}

.row-date-changed {
   color: #2685b2;
   font-size: 20px;
}

.row-tag {
   color: #7d7d7d;
   font-size: 12px;
}

.tag-link {
   color: #63b7df;
   font-size: 12px;
   font-weight: 400;
   &:hover{
      text-decoration: underline;
   }
}

.comments-link {
   color: #63b7df;
   font-size: 14px;
   font-weight: 400;
   &:hover{
      text-decoration: underline;
   }
}

.row-comments {
   text-align: right;
   color: #63b7df;
   font-size: 14px;
   font-weight: 400;
}

@media (max-width: 1820px) {
   .page-content_closed{
      width: 52%;
   }

   .page-content_opened{
      width: 64%;
   }
}

@media (max-width: 1750px) {
   .page-content_closed{
      width: 50%;
   }

   .page-content_opened{
      width: 63%;
   }
}

@media (max-width: 1670px) {
   .page-content_closed{
      width: 48%;
   }

   .page-content_opened{
      width: 61%;
   }

   .page-content__post-text {
      font-size: 14px;
   }
}

@media (max-width: 1600px) {
   .page-content_closed{
      width: 49%;
   }

   .page-content_opened{
      width: 60%;
   }
}

@media (max-width: 1550px) {
   .page-content_closed{
      width: 48%;
   }

   .page-content_opened{
      width: 58%;
   }
}

@media (max-width: 1500px) {
   .page-content_closed{
      width: 44%;
   }

   .page-content_opened{
      width: 58%;
   }
   .page-content__post {
      display: block;
      width: 100%;
   }
   .page-content__post:nth-of-type(2n+1) {
      margin-left: 0%;
   }
}

@media (max-width: 1400px) {
   .page-content_closed{
      width: 41%;
   }

   .page-content_opened{
      width: 57%;
   }
}