.page-content {
   display: table-cell;
   right: 7%;
   vertical-align: top;
   width: 40%;
   height: 100%;
   background: rgba(255,255,255,0.8);
   max-width: 764px;
   padding: 15px 20px 0px 15px;
   margin-left: 2%;
   position: relative;
   z-index: 1000;
   &:after {
      @include clear();
   }
}

.page-content__userbar {
   position: relative;
   z-index: 1000;
   margin-bottom: 30px;
   &:after {
      @include clear();
   }
}

.page-content__btn {
   display: inline-block;
   box-sizing: border-box;
   height: 32px;
   padding: 5px 10px;
   background: transparent;
   color: #39404c;
   font-size: 14px;
   font-weight: 400;
   border: 1px solid #39404c;
   cursor: pointer;
   margin-right: 7px;
   @include transition(300);
   &:hover {
      background: #39404c;
      color: #ffffff;
   }
}

.page-content__post{
   position: relative;
   border-bottom: 1px solid #cccccc;
   padding-bottom: 22px;
   padding-top: 18px;
}

.page-content__post-top {

}

.page-content__post-date {
   display: inline-block;
   font-size: 20px;
   margin-left: 15px;
   font-weight: 400;
}

.page-content__post-userbar {
   float: right;
   color: #52adcc;
   font-size: 14px;
   font-weight: 400;
   &:hover{
      text-decoration: underline;
   }
}

.page-content__post-link {
   color: #52adcc;
   font-size: 14px;
   font-weight: 400;
   &:after{
      content: "";
      vertical-align: middle;
      display: inline-block;
      margin-left: 12px;
      width: 40px;
      height: 22px;
      background: url(../../../img/post-icon.png)no-repeat;
   }
}

.page-content__post-bottom {
   margin-top: 10px;
   padding-left: 34px;
}

.page-content__post-text {
   font-size: 16px;
   font-weight: 400;
}

.page-content__userbar-icon {
   width: 40px;
   height: 22px;
   background-color: #3a4c64;
   border-radius: 3px;
   float: right;
   margin-left: 10px;
}

.page-content__comment {
   position: absolute;
   z-index: 1001;
   top: -61px;
   right: 154px;
   width: 550px;
   padding: 55px 15px 10px 15px;
   box-shadow: 0 0 4px rgba(2, 2, 2, 0.2);
   background-color: #ffffff;
   .layout-content-search__block-row-item {
      width:30%!important;
      &:first-child {
         margin-right: 25px;
      }
   }
   .layout-content-search__block-row-item:after{
      top: -42px;
   }
   .search-box {
      margin-bottom: 10px;
      .chosen-container {
         width: 100%!important;
      }
      .layout-content-search__label {
         font-size: 14px;
         font-weight: 400;
      }
      input {
         border: 1px solid #dddddd;
      }
   }
   .close__icon {
      top: 12px;
   }
   .icon-closed {
      &:before {
         height: 28px;
         background: #3a4c64;
      }
      &:after {
         height: 28px;
         background: #3a4c64;
      }
   }
   .search-box.sbmt {
      text-align: center;
   }
}

.page-content__submit {
   width: 111px;
   height: 32px;
   color: #ffffff;
   background-color: #63b8e0;
   border: none;
   outline: 0;
   padding: 5px 9px;
   cursor: pointer;
   text-transform: uppercase;
   @include transition(300);
   &:hover {
      background: darken(#63b8e0,10%);
   }
}

.page-content__textarea {
   width: 100%;
   resize: none;
   border: 1px solid #dddddd;
   height: 80px;
}

.comment-hide {
    display: none;
}

.comment-show {
   display: block;
}

.page-content__people {
   color: #000000;
   text-decoration: underline;
   font-size: 14px;
   &:hover {
      text-decoration: none;
   }
}

.ui-widget-header .ui-icon {
   background-image: url(../../../img/ui-icons_444444_256x240.png)!important;
}

.pagination {
   ul {
      list-style: none;
      text-align: center;
      padding-left: 0;
      li {
         display: inline-block;
         vertical-align: top;
         border: 1px solid #000000;
         @include transition(300);
         &:first-of-type {
            background: url(../../../img/svg/arrow3_1.svg)no-repeat center;
            @include transition(300);
            a{
               padding: 16.5px 17px;
            }
            &:hover {
               background: #39404c url(../../../img/svg/arrow3_2.svg)no-repeat center;
            }
         }
         &:last-of-type {
            background: url(../../../img/svg/arrow4_1.svg)no-repeat center;
            @include transition(300);
            a{
               padding: 16.5px 17px;
            }
            &:hover {
               background: #39404c url(../../../img/svg/arrow4_2.svg)no-repeat center;
            }
         }
         margin-left: 4px;
         a{
            display: block;
            padding: 5px 12px;
            @include transition(300);
            color: #000000;
            font-size: 17px;
            font-weight: 400;
         }
         &:hover {
            background: #39404c;
            a{
               color: #ffffff;
            }
         }
      }
   }
}