.page-content {
   display: inline-block;
   vertical-align: top;
   width: 40%;
   height: 100%;
   background: rgba(255,255,255,0.9);
   max-width: 764px;
   padding: 15px 20px 0px 15px;
   margin-left: 2%;
   position: relative;
   z-index: 1000;
   &:after {
      @include clear();
   }
}

.page-content__userbar {
   position: relative;
   z-index: 1000;
   margin-bottom: 30px;
   &:after {
      @include clear();
   }
}

.page-content__btn {
   display: inline-block;
   box-sizing: border-box;
   height: 32px;
   padding: 5px 10px;
   background: transparent;
   color: #39404c;
   font-size: 14px;
   font-weight: 400;
   border: 1px solid #39404c;
   cursor: pointer;
   margin-right: 7px;
   @include transition(300);
   &:hover {
      background: #39404c;
      color: #ffffff;
   }
}

.page-content__post{
   border-bottom: 1px solid #cccccc;
   padding-bottom: 22px;
   padding-top: 18px;
}

.page-content__post-top {

}

.page-content__post-date {
   display: inline-block;
   font-size: 20px;
   margin-left: 15px;
   font-weight: 400;
}

.page-content__post-userbar {
   float: right;
   color: #52adcc;
   font-size: 14px;
   font-weight: 400;
   &:hover{
      text-decoration: underline;
   }
}

.page-content__post-link {
   color: #52adcc;
   font-size: 14px;
   font-weight: 400;
   &:after{
      content: "";
      vertical-align: middle;
      display: inline-block;
      margin-left: 12px;
      width: 40px;
      height: 22px;
      background: url(../../../img/post-icon.png)no-repeat;
   }
}

.page-content__post-bottom {
   margin-top: 10px;
   padding-left: 34px;
}

.page-content__post-text {
   font-size: 16px;
   font-weight: 400;
}

.page-content__userbar-icon {
   width: 40px;
   height: 22px;
   background-color: #3a4c64;
   border-radius: 3px;
   float: right;
   margin-left: 10px;
}