.sidebar {
   vertical-align: top;
   height: 100%;
   display: table-cell;
   @include transform_translateX(-233px);
   @include transition(400);
   position: absolute;
   top:0;
   left: 0;
   background: #39404c;
   z-index: 10000;
   width: 300px;
   ul {
      margin-top: 70px;
      padding-left: 0;
      li {
         font-size: 14px;
         list-style: none;
         position: relative;
         margin-bottom: 14px;
         @include transition(300);
         &:hover {
            background: #63b7df;
         }
         img {
            width: 41px;
            height: 36px;
            display: inline-block;
            float: right;
            position: relative;
            top: -7px;
            right: 3px;
         }
         a{
            display: block;
            color: #ffffff;
            padding: 19px 11px 40px 23px;;
            span{
               display: none;
            }
         }
      }
   }
}

.sidebar_opened {
   .sidebar{
      width: 300px;
      @include transform_translateX(0);
      ul {
         li{
            a{
               padding: 23px 11px 24px 23px;
            }
         }
      }
   }
   .index-wrapper {
      padding-left: 300px;
   }
   span{
      display: inline-block!important;
   }
}

.sidebar__icon {
   display: block;
   position: absolute;
   width: 32px;
   height: 32px;
   @include transition(300);
   right: 18px;
   top: 16px;
}

.icon-opened {

}

.icon-opened:hover {
   opacity: 1;
}
.icon-opened:before, .icon-opened:after {
   position: absolute;
   left: 15px;
   content: ' ';
   height: 33px;
   width: 2px;
   background-color: #63b7df;
}
.icon-opened:before {
   transform: rotate(45deg);
}
.icon-opened:after {
   transform: rotate(-45deg);
}

.page-content__check {
   position: absolute;
   left: -9999px;
}

.page-content__check+.check-label:before {
   content: '';
   display: inline-block;
   position: relative;
   top: 7px;
   left: 0;
   width: 23px;
   height: 23px;
   border: 1px solid #818181;
   cursor: pointer;
}

.page-content__check:checked+.check-label:before {
   content: '';
   display: inline-block;
   position: relative;
   top: 7px;
   left: 0;
   width: 23px;
   height: 23px;
   border: 1px solid #818181;
   background: url(../../../img/svg/tick.svg) no-repeat 1px;
   background-size: 20px 20px;
}