.svg-arrow1-dims {
	width: 14.999px;
	height: 8.087px;
}

.svg-arrow3_1-dims {
	width: 8.087px;
	height: 14.999px;
}

.svg-arrow3_2-dims {
	width: 8.09px;
	height: 15px;
}

.svg-arrow4_1-dims {
	width: 8.087px;
	height: 14.999px;
}

.svg-arrow4_2-dims {
	width: 8.09px;
	height: 15px;
}

.svg-block-dims {
	width: 100px;
	height: 100px;
}

.svg-doc-dims {
	width: 82.092px;
	height: 93px;
}

.svg-doc2-dims {
	width: 82.092px;
	height: 93px;
}

.svg-doc_min-dims {
	width: 21.774px;
	height: 24.667px;
}

.svg-down-arrow-dims {
	width: 129px;
	height: 129px;
}

.svg-download-dims {
	width: 32.889px;
	height: 29.309px;
}

.svg-download2-dims {
	width: 32.889px;
	height: 29.309px;
}

.svg-edit-dims {
	width: 29.309px;
	height: 29.309px;
}

.svg-edit2-dims {
	width: 29.309px;
	height: 29.309px;
}

.svg-event-dims {
	width: 32.466px;
	height: 33.945px;
}

.svg-event2-dims {
	width: 32.466px;
	height: 33.945px;
}

.svg-events-dims {
	width: 79.153px;
	height: 80px;
}

.svg-events2-dims {
	width: 79.153px;
	height: 80px;
}

.svg-events_min-dims {
	width: 20.778px;
	height: 21px;
}

.svg-files-dims {
	width: 24.833px;
	height: 32.021px;
}

.svg-files2-dims {
	width: 24.833px;
	height: 32.021px;
}

.svg-files2-1-dims {
	width: 17.378px;
	height: 23px;
}

.svg-files2-2-dims {
	width: 17.378px;
	height: 23px;
}

.svg-info-dims {
	width: 23px;
	height: 23px;
}

.svg-info2-dims {
	width: 23px;
	height: 23px;
}

.svg-like-dims {
	width: 100px;
	height: 100px;
}

.svg-lm-doc-dims {
	width: 38px;
	height: 42.92px;
}

.svg-lm-events-dims {
	width: 38px;
	height: 38.4px;
}

.svg-lm-messages-dims {
	width: 38px;
	height: 37.559px;
}

.svg-lm-notice-dims {
	width: 38px;
	height: 33.619px;
}

.svg-lm-settings-dims {
	width: 38px;
	height: 38px;
}

.svg-lm-user-dims {
	width: 38px;
	height: 42.26px;
}

.svg-messages-dims {
	width: 80.94px;
	height: 80px;
}

.svg-messages2-dims {
	width: 80.94px;
	height: 80px;
}

.svg-notice-dims {
	width: 90.73px;
	height: 80px;
}

.svg-notice2-dims {
	width: 90.73px;
	height: 80px;
}

.svg-notice_min-dims {
	width: 23.001px;
	height: 20.282px;
}

.svg-plus-dims {
	width: 357px;
	height: 357px;
}

.svg-read-dims {
	width: 100px;
	height: 100px;
}

.svg-remove-dims {
	width: 100px;
	height: 100px;
}

.svg-send-dims {
	width: 200px;
	height: 200px;
}

.svg-settings-dims {
	width: 82px;
	height: 82px;
}

.svg-settings2-dims {
	width: 82px;
	height: 82px;
}

.svg-share-dims {
	width: 25.544px;
	height: 31px;
}

.svg-share2-dims {
	width: 25.544px;
	height: 31px;
}

.svg-statistics-dims {
	width: 24.14px;
	height: 24px;
}

.svg-statistics2-dims {
	width: 24.14px;
	height: 24px;
}

.svg-subscription-dims {
	width: 36px;
	height: 30.18px;
}

.svg-subscription2-dims {
	width: 36px;
	height: 30.18px;
}

.svg-tick-dims {
	width: 26px;
	height: 26px;
}

.svg-user-dims {
	width: 71.93px;
	height: 80px;
}

.svg-user2-dims {
	width: 71.93px;
	height: 80px;
}

